body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}


header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.sar_dsa {
  color: #2e2f42;
}

.sak_dsa {
  color: #434455;
}

.logo-sinif .logo-span {
  color: #2e2f42;
}

.alt-bilgi .logo-sinif .logo-span {
  color: #f4f4fd;
}

a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 16px;
}
a:hover {
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

.footer-p {
  color: #f4f4fd;
}

.bolum-bir {
  background-color: #2e2f42;
}

section.bolum-bir h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.bolum-uc {
  background-color: #f4f4fd;
}

.bolum-uc .eleman-uc {
  background-color: #ffffff;
}

footer {
  background-color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.alt-bilgi .footer-p {
  color: #f4f4fd;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
p {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}

.logo-sinif {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-size: 18px;
}

button {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

button:focus {
  background-color: #404bbf;
}
address {
  font-style: normal;
}
